body {
	color: #2C3E50;
	background-color: #ECF0F1;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	color: #2980B9;
}

a {
	color: #E74C3C;
}

a:hover {
	color: #C0392B;
	background-color: #BDC3C7;
}
